{% extends 'libsuite/base.html' %}
{% load static %}
{% block content %}    
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Frequently Asked Questions</h2>
            </div>
          </div>
        </div>
      </div> 

<!--   # Returns None if user came from another website
  {{ request.META.HTTP_REFERER }} gives eg.  http://127.0.0.1:8000/faq/-->
    
  {% if previous_page == 'http://127.0.0.1:8000/about/' %}
    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current"><a href="{% url 'libsuite-about' %}">About the LIRC</a></span>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current"><a href="{% url 'libsuite-faq' %}">F.A.Q</a></span>
      </div>
    </div>
  {% else %}
    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">F.A.Q</span>
      </div>
    </div>
  {% endif %}

    <div class="container pt-5 mb-5">
      <p></p><h2>What is libsuite?</h2>
      Libsuite is a library management web application made for SFIT students by a SFIT student.<br><br>
      <h2>How to use libsuite?</h2>
      </p>
    </div>
{% endblock content %}